/*
CANVAS!!!
*/
/* Fill and center canvas, put it between background and title. Hide when not active */

#CanvasWrapper {
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: transparent;
}

.fullscreen #CanvasWrapper {
  position: fixed;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* Show the canvas! */
.canvas-show #CanvasWrapper {
  display: flex;
}

#CanvasDisplay {
  height: 100%;
  width: 100%;
  background: none;
  margin: 0;
  text-align: center;
}
/* Border and shadow the video so it looks nice */
.fullscreen #CanvasDisplay {
  width: auto;
  border: 1px solid #00000055;
  border-top-width: 0;
  border-bottom-width: 0;
  box-shadow: 1px 0px 20px 20px #00000055;
}